#
####### example-requirements.txt #######
#
###### Requirements without Version Specifiers ######
numpy
scipy
pandas
matplotlib
seaborn
recommonmark
sphinx
#
###### Requirements with Version Specifiers ######
scikit-learn == 0.20.0
#
####